In [4]:
# Movie Database Applicaton #

In [3]:
import pandas as pd
import numpy as np
import os
import sys
#print(sys.version)
#sys.path.insert(0,"/usr/lib/python2.7/site-packages")
#import pymysql
import pip
pip.main(['install','mysql-connector-python-rf'])
pip.main(['install','prettytable'])
pip.main(['uninstall','mysql-connector'])
pip.main(['uninstall','mysql-connector'])
pip.main(['install','mysql-connector-python'])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: mysql-connector-python-rf in /opt/anaconda3/lib/python3.8/site-packages (2.2.2)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.8/site-packages (1.0.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from prettytable) (49.2.0.post20200714)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.8/site-packages (from prettytable) (0.2.5)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: Skipping mysql-connector as it is not installed.
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: Skipping mysql-connector as it is not installed.
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.8/site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.13.0)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (49.2.0.post20200714)

0

In [3]:

akas_info=pd.read_csv('/Users/abasiamaakpan/Downloads/title.akas.tsv',delimiter='\t',encoding='utf-8')
akas_info

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
23944183,tt9916852,4,エピソード #3.20,JP,ja,\N,\N,0
23944184,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
23944185,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
23944186,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
23944187,tt9916856,1,The Wind,DE,\N,\N,\N,0

In [6]:
basics_info=pd.read_csv('/Users/abasiamaakpan/Downloads/title.basics.tsv',delimiter='\t',encoding='utf-8')

basics_info

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
7292276,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
7292277,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
7292278,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
7292279,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
7292280,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [7]:
crew_info=pd.read_csv('/Users/abasiamaakpan/Downloads/title.crew.tsv',delimiter='\t',encoding='utf-8')
crew_info

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
7292276  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7292277  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7292278  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7292279  tt9916856           nm10538645                      nm6951431
7292280  tt9916880            nm0996406            nm1482639,nm2586970

[7292281 rows x 3 columns]

In [8]:
episode_info=pd.read_csv('/Users/abasiamaakpan/Downloads/title.episode.tsv',delimiter='\t',encoding='utf-8')

episode_info

            tconst parentTconst seasonNumber episodeNumber
0        tt0041951    tt0041038            1             9
1        tt0042816    tt0989125            1            17
2        tt0042889    tt0989125           \N            \N
3        tt0043426    tt0040051            3            42
4        tt0043631    tt0989125            2            16
...            ...          ...          ...           ...
5252722  tt9916846    tt1289683            3            18
5252723  tt9916848    tt1289683            3            17
5252724  tt9916850    tt1289683            3            19
5252725  tt9916852    tt1289683            3            20
5252726  tt9916880    tt0985991            4             2

[5252727 rows x 4 columns]

In [10]:
ratings_info=pd.read_csv('/Users/abasiamaakpan/Downloads/title.ratings.tsv',delimiter='\t',encoding='utf-8')

ratings_info

            tconst  averageRating  numVotes
0        tt0000001            5.6      1656
1        tt0000002            6.1       201
2        tt0000003            6.5      1369
3        tt0000004            6.2       122
4        tt0000005            6.2      2151
...            ...            ...       ...
1086697  tt9916580            7.2         5
1086698  tt9916690            6.6         5
1086699  tt9916720            6.0        65
1086700  tt9916766            6.9        14
1086701  tt9916778            7.3        24

[1086702 rows x 3 columns]

In [ ]:
import mysql.connector
from prettytable import PrettyTable 
from prettytable import from_csv


mydb=mysql.connector.connect(
    host="localhost",
    user="",
    passwd="",
    database="",
    #auth_plugin='mysql_native_password')
mycursor=mydb.cursor()